@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Здравствуйте!</h1>
    <p>Количество книг в базе приложения: @(ViewBag.BooksCount)</p>
    <p>Зарегистрированных пользователей: @(ViewBag.UsersCount)</p>
    <p>Всего прочтений книг: @(ViewBag.ReadsCount)</p>
</div>
