@{
    ViewData["Title"] = "Список книг";
}

<div class="text-center">
    <h1 class="display-4">@(ViewBag.UserProfileName)</h1>
    <p>Список книг пользователя:</p>
</div>

@await Html.PartialAsync("~/Views/Home/BookList.cshtml")