@{
    ViewData["Title"] = "Регистрация";
}

<div class="container">
    <h2>Регистрация:</h2>
    <form method="post">
        <div class="mainitem">
            <div class="group">
                <input type="text" name="Username" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Имя пользователя</label>
            </div>
            <div class="group">
                <input type="password" name="Password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Пароль</label>
            </div>
            <div class="group">
                <input type="password" name="Password2" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Подтвердите пароль</label>
            </div>
            <input type="submit" value="Отправить" />
        </div>
    </form>
</div>